
/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kavoon", serif;
    font-family: "Fruktur", system-ui;
      
}

body {
    background-color: white;
    height: 100vh;
}

.interface{
    max-width:  1280px;
    margin: 0 auto;
}

.logo{
    position: absolute;
    left: 100px; 
    top: 1px;
    margin-left: -150px;
    margin-top: -160px;
    border-radius: 30px;
    border-left: -10px;
    border-top: -60px;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 600;
    background-color:black;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 100px;
    color: white;
    transition: .2s;   
}

h2.titulo{
    color: black;
    font-size: 40px;
    text-align: center;
}

h2.titulo span{
    color: Black;
}


/*ESTILO DO CABEÇALHO*/
header{
    padding: 50px 20%;
    padding-right: 100px;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav.menu-desktop a{
    color: black;
    text-decoration: none;
    display: inline-block;
    
}
header nav.menu-desktop a:hover{
    color: blue;
    transform: scale(1.08);
    transition: .2s;
    
    
}

header nav ul{
    list-style-type: none;
    font-size: 200%;
    
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 25px;
    font-size: 75%;
    
}

header nav.menu-desktop ul li:hover{
    box-shadow: 0px 0px 20px blue;
    transition: .1s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 20px blue;
    transform: scale(1.1);
}

/* ESTILO MENU-MOBILE*/
.btn-abrir-menu i{
    color: black;
    font-size: 50px;
    margin-left: 24rem;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
    margin-left: 24rem;
    font-size: 50px;

}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 4%;
}

.menu-mobile .btn-fechar i{
    color: white;
    font-size: 40px;

}

.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: blue;
    color: white;
    transform: scale(1.05);
}

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content:center;
}

.topo-do-site h1{
    color: black;
    font-size: 100px;
    line-height: 100px;
}

.topo-do-site .txt-topo-site h1 span{
    color: black;
}

.topo-do-site .txt-topo-site p{
    color: black;
    margin: 40px 0;
    font-size: 45px;
}

.topo-do-site .txt-topo-site p span{
    color: blue;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
.topo-do-site .img-topo-site img:hover{
    transform: scale(1.04);
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
          top: 30px;
    }
}

/*ESTILO DO SOBRE*/
.section .sobre{
    padding: 40px 4%;
}

section .sobre .flex{
    gap: 60px;
}

.sobre-box{
    color: black;
    padding: 5px;
    border: 7px solid black;
    margin-top: 45px;
    justify-items: center;
    border-radius: 20px;
    transition: .2s;
}
.sobre-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px blue;
}

.sobre-box h3{
    color: black;
    font-size: 40px;
    text-align: center;
}

.sobre-box p{
    font-size: 20px;
    color: black;
}

/*ESTILO DO CONTRATA*/

section .contrata{
    padding: 40px 4%;
}

.contrata .flex{
    align-items: center;
    gap: 90px;
}

.img-contrata{
    font-size: 20px;
}

.contrata .img-contrata img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    
}

.contrata .txt-contrata{
    color: black;
    
}

.txt-contrata h2{
    font-size: 50px;
    padding: 5px;
    text-align: center;
}

.txt-contrata h2:hover{
    color: blue;
}

.txt-contrata p{
    font-size: 35px;
    text-align: center;
    padding: 60px;
}

.txt-contrata .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: BLACK;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    transition: .2s;
    margin-left: 10rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    margin-right: -2em;
    
}
.txt-contrata .btn-social button:hover{
    transform: scale(1.04);
    box-shadow: 0 0 25px black;

}

/*DESENVOLVEDOR*/
section .desenvolvedor{
    padding: 75px 4%;
}

section .desenvolvedor .flex{
    align-items: center;
    gap: 60px;
}

.desenvolvedor img:hover{
    transform: scale(1.04);
}

.txt-desenvolvedor h2{
    text-align: center;
    color: black;
    padding: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-block: 20;
    font-size:2.9rem;
    margin-left: 5.5rem;
}

.txt-desenvolvedor span{
    color: black;
    display: block;
    margin-left: -17rem;
    margin-right: 20rem;
    margin-bottom: 7rem;
    font-size: 2.7rem;
}

/* ESTILO DO RODAPÉ*/
footer{
    padding: 40px 0%;
    width: 100%;
    height: 80%;
    box-shadow: 0 0 10px 5px black;
}
footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}
.borda{
    border: 2px solid black;
}

footer .line-footer p{
    color: black;
    font-size: 1.9;
    text-align: center;
}

footer .line-footer p:hover{
    transform: scale(1.04);
}

footer .line-footer p i{
    color: black;
    font-size: 29px;
    margin-left: -5rem;
    
}

footer .line-footer p a{
    color: black;
    font-size: 1.7rem;
   
}

footer .line-footer p a:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}

footer .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    margin-left: 2rem;
    margin-top: 14rem;
    margin-bottom: 3rem;
}

footer .btn-social button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}


@media screen and (max-width: 1285px){
    /* CLASS GERAL*/
    .flex{
        flex-direction: column;
    }

    /* CABEÇALHO*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    
    /*TOPO DO SITE*/
    section.topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site h1{
        font-size: 45px;
        margin-top: 55px;
        text-align: center;
    }
    /*ESTILO DO SOBRE*/
    .section .sobre{
    padding: 40px 8%;
    }

    .btn-social{
        text-align: center;
    }

    /*RODAPÉ*/
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }
    footer .line-footer{
        text-align: center;
        
    }


}


